/* Reset */
/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */
 /* body background color */
 .body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0%;
    background-color: rgb(194, 194, 194);
 }
/* logo */
#logo{
    width: 100%;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-right: 100%;
    background-color: white;
}
/* posizione blocco_1 */
.central{
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
}
/* blocco 1 dimensioni*/
.block_1{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 300px;
    padding-bottom: 20px;
    border-top: 40px;
    border-radius: 5px 5px 0px 0px;
    background-color: white;
    margin-bottom: 0%;
    border-bottom: 0%;
}
.button_1{
    height: 25px;
    padding-left: 8px;
    padding-right: 8px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(0, 162, 255);
}
.button_2{
    height: 25px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    border: 1px solid rgb(197, 195, 195);
    background-color: white;   
}
/* blocco 2 */
.block_2{
    margin-top: 1px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 300px;
    padding-bottom: 20px;
    border-radius: 0px 0px 5px 5px;
    background-color: white;
}